/**********************
    GENERAL SETTINGS 
**********************/
html {
    scroll-behavior: smooth;
}

h1, h2{
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-family: 'Ubuntu Mono', monospace;
}

/*****************
    NAVIGATION 
*****************/
.navbar {
    background-color: black;
    padding: 20px;
}

#name {
    color: white;
    margin-top: -10px;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
}

.nav {
    display: flex;
    float: right;
    list-style-type: none;
    text-decoration: none;
    padding: 0 20px 0 20px; 
}

.nav > li > a {
    color: white;
}

.nav > li > a:hover {
    color: hotpink;
}

#navigation {
    color: white;
}

/*****************
    HEADER 
*****************/
#header {
    height: 730px;
    background-color: black;
    color: white;
    padding-top: 400px;
    margin-top: -50px;
    margin-right: -20px;
    text-align: center;
}

h1 {
    font-size: 2em;
}

.fa-chevron-circle-down {
    color: white;
    font-size: 5em;
    height: 320px;
    padding-right: 20px;
}

.fa-chevron-circle-down:hover {
    color: red;
}

/*****************
    ABOUT ME
*****************/
#about {
    background-color: white;
    color: black;
    height: 800px;
    padding-top: 100px;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin: -50px;
}

#about > h2 {
    padding-bottom: 60px;
}

#skills {
    padding-top: 30px;
}

#education, #skills {
    font-size: 18px;
    text-align: left;
    padding-left: 450px;
}

#education-title, #skills-title {
    font-weight: bold;
}

#education > li, #skills > li {
    font-family: 'Josefin Sans', sans-serif;
}

/*****************
    TECHNOLOGIES 
*****************/
#technologies {
    color: black;
    padding-top: 100px;
    padding-bottom: 150px;
    text-align: center;
    margin-right: -50px;
}

#group-one, #group-two  {
    padding: 60px 400px 60px 400px;
    color: teal;
    font-size: 5em;
    display: flex;
    justify-content: space-between;
}

.col-md-3 {
    text-align: center;
}

/*****************
    PORTFOLIO 
*****************/

#portfolio {
    text-align: center;
    margin: -50px;
    height: 1200px;
    background-color: black;
    color: white;
    padding: 100px;
    height: 100%;
}

button, .btn {
    background-color: black;
    color: white;
    border-radius: 25px;
    height: 60px;
    width: 150px;
    padding-bottom: 40px;
    margin: auto;
    text-align: center;
}

.btn > h3 {
    font-size: 1em !important;
}

#buttons {
   text-align: center;
   margin-top: 50px;
   margin-bottom: 30px;
}

button:hover, .btn:hover {
    background-color: purple;
    color: white;
}

#gallery {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
}

#gallery > .col-sm-4 {
    width: 300px;
}

.img, .img-thumbnail {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

.img:hover {
    transform: scale(1.1);
}

#simon    {
    height: 250px;
    width: 300px;
}

/*****************
    CONTACT 
*****************/
#contact {
    text-align: center;
    margin: -50px -50px -80px -50px;
    padding-top: 100px;
    padding-bottom: 80px;
}

.form-row {
    margin-top: 50px;
}

#input-name, #input-email {
    display: inline-block;
    width: 300px;
    justify-content: center;
    color: tomato;
}

#input-comment {
    margin-top: 30px;
    display: flex;
    width: 300px;
    justify-content: center;
    color: tomato;
}

#submit-button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.5em;
    padding-top: 12px;
 }

/*****************
    FOOTER 
*****************/
footer {
    text-align: center;
    padding-bottom: 10px;
}
